/* Div shortcode */

.servicios_shortcode{
 display:flex;
 width: 100%;
 gap: 15px;
}


/* Botones */

.btn_servicios{
    background: #2f3ea1;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: -5px;
    margin-right: -5px;
}

/** Multi Select */


.hero .hero-contenido ul {
   display:block !important;
}


.chosen-container-multi {
    border: none;
}

.chosen-container-multi .chosen-choices {
    background-image: none;
    padding: 7px;
    border: none !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    padding: 5px 5px !important;
    width: 100%;
}

.chosen-container-multi .chosen-choices li.search-choice {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 26px;
    border: none;
    background-image: none;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 9px;
    right: 8px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 32px;
    font-size: 14px;
}

.chosen-container .chosen-drop {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 3px;
    border-radius: 4px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2) !important;
}




/** Modal */

.modal {
    pointer-events: none;
    display:none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.modal .total_servicios  p{
    font-size: 14px;
    line-height: 1.4;
}

.modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background: #659a77;
    border: 0px;
    color: #fff;
}

/** Overlay */
.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

/** JS */
.is-visible {
    opacity: 1;
    display:block;
    pointer-events: auto;
}


/** Contenido Modal */

.total_servicios li {
    list-style: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
form select,
textarea {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
    border: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: var(--color-black);
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: -5px;
    margin-right: -5px;
}
 

.iti {
    position: relative;
    display: block !important;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 15px;
}


 

.iti__country-list--dropup {
    bottom: auto !important;
}


.hero .hero-contenido .iti__country-list.iti__hide{
    display: none !important;
}

.iti__flag {
    background-image: url(../img/flags.png) !important;
    max-width: 17px;
}

.iti__country-list{
    min-width: 200px;
}

p.exito{
    background-color: rgb(73, 128, 37);
    color:#fff !important;
    font-size: 13px !important;
    padding: 10px;
    font-weight:700;
}

.error p{
    background-color: red;
    color:#fff !important;
    font-size: 13px !important;
    padding: 0 10px;
    font-weight:700;
}

.modal.bg .error_servicios p{
    background-color: red;
    background-color: #fff !important;
    color: red !important;
    text-align: center;
}
 
.campos{
    display:none;
}

.campos.is-visible{
    display: block;
}


/* RESPONSIVE */

@media (max-width: 720px){
    
    .servicios_shortcode{
        flex-direction: column;
       }
 
}